---
import ScrollBanner from "../elements/ScrollBanner.astro";

const skills = [
  "Html, CSS & Javascript",
  "Tailwind CSS",
  "Next.js",
  "Astro",
  "Visual Studio Code",
];

const designTools = [
  "Adobe Illustrator",
  "Adobe Photoshop",
  "Adobe InDesign",
  "Adobe Premiere Pro",
  "Figma",
];
---

<section
  class="lg:h-screen gap-9 lg:gap-0 lg:justify-between lg:grid block lg:grid-cols-2"
>
  <div class="flex flex-col justify-center flex-grow ml-6">
    <h4 class="font-black lg:text-9xl text-5xl md:text-8xl">Skills</h4>
    <p class="max-w-4xl text-sm md:text-base lg:text-lg text-balance">
      During my education, I have gained proficiency in various digital tools
      and programs. Within graphic design, social content, and web design, I
      have worked with software such as Adobe Photoshop, Illustrator, and
      InDesign to create visual and creative solutions. I have also developed
      skills in social content creation, where I have produced material for
      digital communication. Additionally, I have experience in web development
      and design, including HTML, CSS, and JavaScript, as well as working with
      frameworks and tools like Astro, Next.js, and Tailwind CSS.
    </p>
  </div>
  <div class="bg-[#0E2EEE] h-60 lg:h-full">
    <div>
      <ScrollBanner title="Skills" items={skills} direction="right" />
      <ScrollBanner title="Design Tools" items={designTools} direction="left" />
      <div class="hidden lg:block">
        <ScrollBanner title="Skills" items={skills} direction="right" />
        <ScrollBanner
          title="Design Tools"
          items={designTools}
          direction="left"
        />
        <ScrollBanner title="Skills" items={skills} direction="right" />
      </div>
    </div>
  </div>
</section>
